
/* NAV */

.alert {
background-color: #DDDFC2;
border: none;
color: #134829;
}

.navbar {
background-color: #134829;
}

.nav-link {
color: #DDDFC2;
}
.nav-link:hover {
color: #2a834f;
}

.btn {
background-color: #DDDFC2;
color: #134829;
}

.btn:hover {
background-color: #134829;
color: #DDDFC2;
border-color: #DDDFC2;
}

.btn-primary:hover {
background-color: #134829;
color: #DDDFC2;
}

.btn-primary {
background-color: #DDDFC2;
color: #134829;
border: none;
}

.offcanvas {
background-color:#134829;
}

.navbar-toggler {
border: none;
}

.navbar-toggler:focus, .btn-close:focus {
box-shadow: none;
}

a {
color: #DDDFC2;
}

a:hover {
color: #2a834f;
}

/* HERO */

#hero {
background: #134829;
background-image: url(../images/pexels-yesimcolak-33106922.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
color: #DDDFC2;
height: 700px;
align-content: center;
}

.btn-secondary {
border: none;
background-color: #729982;
}

@media (max-width: 576px) {

#hero {
align-content: start;
background-position: bottom;
}

.btn-primary {
width: 190px;
}

.btn-secondary {
width: 125px;
}

}

 
